<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection"/>
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.js"></script>
    <title>Projet 01 Vuejs2</title>
</head>
<body>
    <div class="container">
        <div class="section">
            <div id="app">
                <p>
                    <strong>Sans filtre:</strong>
                    {{ about }} 
                    <br />
                    <br />
                    <strong>Avec un filtre 30 caractères uniquement:</strong>
                    {{ about | shorten }}  
                    <br />
                    <br />
                    <strong>Contact:</strong><br />
                    {{ contact }} 
                    
                    <h2>S'inscrire à la newsletter</h2>
                    <form>
                        <input type="text" placeholder="Votre email" v-model="emailNewsletter">
                        <button v-bind:disabled="emailInvalid" v-bind:class="{ active: !emailInvalid }">M'inscrire</button>
                    </form>
                </p>
                <h2>Donnez votre avis</h2>
                <div class="row">
                    <form class="col s12">
                        <input type="text" id="opinion" placeholder="Votre avis" v-model="opinion" class="validate" v-bind:class="[opinionValid != '' ? opinionValid : opinionValid]">
                        <span>{{ opinionMessage }}</span>
                        <label for="opinion" data-error="Valide" data-success="Invalide">Donnez votre avis</label>
                    </form>
                </div>
                <h2>Rechercher un utilisateur Github</h2>
                <div class="row">
                    <form class="col s12">
                        <input type="text" id="githubUser" placeholder="Username" v-model="githubUser" class="validate" v-bind:class="[githubUsernameValid != '' ? githubUsernameValid : githubUsernameValid]">
                        <span>{{ githubUsernameMessage }}</span>
                        <label for="githubUser" data-error="Valide" data-success="Invalide">Chercher un utilisateur Github</label>
                    </form>
                    
                </div>
                <div class="row" v-if="gUser != ''">
                        <pre>{{ gUser }}</pre>
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image">
                          <img v-bind:src="gUser.avatar_url">
                          <span class="card-title">{{ gUser.login }} | {{ gUser.name }}</span>
                        </div>
                        <div class="card-content">
                          <p>Company: <a v-bind:href="githubUser.blog" >{{ gUser.company }}</a></p>
                          <p v-if="gUser.bio != ''">Bio: {{ gUser.bio }}</p>
                          <p>Location: {{ gUser.location }}</p>
                        </div>
                        <div class="card-action">
                          <a v-bind:href="gUser.url" target="_blank">{{ gUser.url }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">

        var vm = new Vue({
            el: '#app',
            data:{
                email: 'email@email.fr',
                phone: '06.00.00.00.00',
                about: `Vue (prononcé /vjuː/, comme le terme anglais view) est un framework évolutif pour construire des interfaces utilisateur. 
                À la différence des autres frameworks monolithiques, Vue a été conçu et pensé pour pouvoir être adopté de manière incrémentale. 
                Le cœur de la bibliothèque est concentré uniquement sur la partie vue, et il est vraiment simple de l’intégrer avec d’autres 
                bibliothèques ou projets existants. D’un autre côté, Vue est tout à fait capable de faire tourner des applications web monopages 
                quand il est couplé avec des outils modernes et des bibliothèques complémentaires.`,
                emailNewsletter: '',
                opinion:'',
                opinionValid:'',
                opinionMessage: '',
                githubUser:'',
                gUser:'',
                githubUsernameValid:'',
                githubUsernameMessage:''
            },
            // Manipuler/Concaténer des données, etc..
            // Propriétés calculées et observateurs
            // https://fr.vuejs.org/v2/guide/computed.html
            computed: {
                contact: function(){
                    return 'Email: '+ this.email + ' tel: ' + this.phone;
                },
                emailInvalid: function(){
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return !re.test(String(this.emailNewsletter).toLowerCase());
                },
                avatarUrl: function(){
                    return this.githubUser.avatar_url;
                }
            },
            // Filtrer une variable, etc..
            // Permet de définir des filtres qui peuvent être utilisés pour appliquer des formatages de textes courants.
            // https://fr.vuejs.org/v2/guide/filters.html
            filters: {
                shorten: function(value){
                    if(value.length < 30){
                        return value;
                    }
                    return value.slice(0,100) + '...';
                }
            },
            // Observer un champ texte
            // Réagi aux changements de données à travers l’option watch
            // https://fr.vuejs.org/v2/guide/computed.html#Observateurs
            watch:{
                opinion:function(value){
                    if(value.indexOf('wtf') !== -1){
                        vm.opinionValid = 'invalid';
                        vm.opinionMessage = 'Restez poli'
                    }else{
                        vm.isOpinionValid = 'valid';  
                    }
                },
                // Requete avec axios
                // githubUser:function(username){
                //     axios.get('https://api.github.com/users/' + username)
                //         .then(function(data){
                //             console.log(data);
                //         })
                //         .catch(function (error) {
                //             console.log(error);
                //         });
                // }

                // Requete avec la méthode debounce de lodash qui attend 700ms pour requêter
                githubUser: _.debounce(function(username){
                    axios.get('https://api.github.com/users/' + username)
                        .then(function(response){
                            console.log(response.data);
                            vm.gUser = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }, 700)
            }
        })
    </script>
</body>
</html>