<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection"/>
    <script src="js/vue.js"></script>
    <title>Projet 01 Vuejs2</title>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>            
            <h1 class="header center orange-text">Projet 01 Vuejs2</h1>
            <div class="row center">
                <img class="header col s12 light" v-bind:src="url" />
                <h5 class="header col s12 light">Todo list with Vuejs2</h5>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="section">
            <div id="app">
                <h2>{{ title }}</h2>
                
                
                <div class="row">
                    <div class="col s12"> 
                        <ul v-if="tasks.length > 0" class="collection">
                            <li class="collection-header">
                                <h4>Toutes les tâches</h4>
                            </li>
                            <li class="collection-item dismissable" v-for="task in tasks" v-bind:class="{active: task.done}">
                                <div>
                                    <span v-if="!task.isInEditMode" v-on:click="editInPlace(task)">
                                        {{ task.description }}
                                    </span>
                                    <span v-else>
                                        <input type="text" v-model="task.description" v-on:keyup.enter="editInPlace(task)">
                                    </span>
                                    <a href="#!" class="secondary-content"><i class="material-icons green-text" v-on:click="task.done = !task.done">check</i></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#!" class="secondary-content"><i class="material-icons red-text" v-on:click="deleteTask(task)">clear</i></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#!" class="secondary-content"><i class="material-icons blue-text" v-on:keyup.enter="editInPlace(task)">mode_edit</i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col s12"> 
                        <h3>Ajouter une tâche</h3>
                    </div>
                </div>
                <!--form  v-on:submit="addTask($event)"-->
                <div class="row">
                    <div class="col s12"> 
                        <form v-on:submit.prevent="addTask()">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">add_circle_outline</i>
                                    <input type="text" id="task" placeholder="Intitulé de votre tâche" v-model="task" />
                                    <label for="task">Nom de la tâche</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">                                
                                    <!--button type="submit" v-on:click="addTask">Ajouter</button-->
                                    <button type="submit" class="waves-effect waves-light btn">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                title:'A faire',
                url:'https://www.braveterry.com/wp-content/uploads/2015/12/vue.js.png',
                task:null,
                tasks: []
            },
            methods: {
                addTask: function(){
                //addTask: function(event){
                    //event.preventDefault();
                    //this.tasks.push(this.task);
                    if(this.task.value != ''){                    
                        this.tasks.push({
                            id: Date.now(),
                            description: this.task,
                            done: false,
                            isInEditMode: false
                        });
                        this.task = null;
                    }
                },
                editInPlace: function(task){
                    task.isInEditMode = !task.isInEditMode;
                },
                deleteTask: function(task){
                    // La méthode filter() crée et retourne un nouveau tableau contenant tous les éléments du tableau d'origine qui remplissent une condition déterminée par la fonction callback.
                    this.tasks = this.tasks.filter(
                        // On veut garder toutes les tâches dont l'id est différent de celle qu'on veut supprimer
                        t => t.id !== task.id
                    ); 
                }
            }
        })
    </script>
</body>
</html>